@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-primary: 121 85 72;
  --color-secondary: 161 136 127;
  --color-background: 239 235 233;
  --color-border: 215 204 200;
  --color-surface: 255 255 255;
  --color-text: 62 39 35;
  --color-muted: 141 110 99;
  --color-input: 245 245 245;
  --color-hover: 230 224 221;
}

@layer base {
  body, main {
    @apply bg-background text-text transition-colors;
  }

  a {
    @apply text-primary;
  }
}

@layer components {
  .btn-primary,
  .btn-secondary,
  .input,
  .modal,
  .modal-content,
  .widget {
    @apply transition-colors;
  }

  .hover-input {
    @apply rounded-lg hover:-translate-y-0.5 hover:scale-[1.02] transition-all duration-300 ease-in-out;
    @apply hover:bg-hover;
  }

  .btn-primary {
    @apply bg-surface text-text hover:bg-input px-4 py-2 border border-border rounded-lg;
  }

  .btn-secondary {
    @apply bg-secondary text-white hover:bg-secondary rounded px-4 py-2;
  }

  .input {
    @apply w-full py-3 px-4 bg-input rounded-lg text-text border border-border focus:outline-none focus:ring-2 focus:ring-primary;
    @apply placeholder:text-muted;
  }
  
  .widget {
    @apply bg-surface rounded-2xl p-6 w-96 shadow-lg;
    transition: opacity 300ms ease-in-out;
  }
}

.widget > div {
  @apply transition-all duration-300 ease-in-out;
}

.widget > div[data-status="entering"] {
  opacity: 0;
  transform: translateX(-10px);
}

.widget > div[data-status="exiting"] {
  opacity: 0;
  transform: translateX(10px);
}

.widget > div[data-status="entered"] {
  opacity: 1;
  transform: translateX(0);
}